[VRP-mirror02]
type = drive
scope = drive.readonly
root_folder_id = 1wiLMVBl--cPDL7IoQZBrBWA1R0ePvMqU
token = {"access_token":"ya29.a0AfH6SMBoK_RTAmwaAiBE0tBZpy7lYAzussRsG0ExF5SBY3YL4hhMuZ4QC6mg5q3s7g8VxBsl0_wakBjledS1tqvO8dtLFcAY-stwwD7ESwJUFc-KQD-1mFxWz6yXtEt_nV46aWtlSbX5Zv8zHyp5vjPm9MxbAlePXg2XQHsYeUcO0Q","token_type":"Bearer","refresh_token":"1//052GKQLZdBQE6CgYIARAAGAUSNwF-L9IrZnssg8M_DxeJ69I0Fs1tlUwuCZuR2GErOJ2NJY4McQ7SH8n1F5CnBLYH6hASXK4z3aw","expiry":"2021-01-07T15:16:25.7611424-05:00"}

[VRP-mirror03]
type = drive
scope = drive.readonly
root_folder_id = 1_gznoLHx38g_ts7xM_TZY6yqZ67hPap5
token = {"access_token":"ya29.a0AfH6SMDxIkb_E7tcNKQGC-dXbjHqkE-wyteVkkvCXEZvzbg1AE_Hs9J-Qu26ZacuTSKwAiIQklYaGfM12DkJo3uOKWzwxQcTyezUM-X4iKr39PNp43FU58XsrCsrPU7DMff0T5_gAfWpBchXJpZg1-oDXuiZOMbIO4eCPG7u-L0zhg","token_type":"Bearer","refresh_token":"1//01GWJt3LcE8IxCgYIARAAGAESNwF-L9IrPAgzpz01ianGaO1o1gAN_cIktfPQVDgC5SnHkEmpuCV1WMJdBsxjVtRZfKvC8xiZod8","expiry":"2020-12-29T08:36:20.7383305-05:00"}

[VRP-mirror05]
type = drive
scope = drive.readonly
root_folder_id = 1wBHqw0ytgR2OTdx5VMf1oJ2c7fSi0Cxq
token = {"access_token":"ya29.a0AfH6SMBHyap5tbSGv-uxnRL9ux7b2L6mYKlgsfd2g6Zijm2elnAM5_VhrhVz1EShan02E_y_GxyZrCSQBqw5pHZGkqgyUwefR912HkT1oBlUDoFNbaEhV8uw0H-zseBTKigAazpr1shSoeWXNlY-sF3rQS_ozFJ4bN5rxElbPPWP4Q","token_type":"Bearer","refresh_token":"1//01CPJ3heCKpCQCgYIARAAGAESNwF-L9Ir8kWmdWcmKszc2epwi9rsn_vrmcboi3cUj-raZeVxg2uinEvlioK9uuP-s36fsna8m6A","expiry":"2020-12-31T16:20:07.9512536-05:00"}

[VRP-mirror06]
type = drive
scope = drive.readonly
root_folder_id = 18lfK96EL38zuQ8pZs4-WiMzD4cC7HZEX
token = {"access_token":"ya29.a0AfH6SMAsXni11nsc8jPtSvxV6gNJoMRrZhUFrrDalRze9cmnOkPk90UnhpSb6VQzUN3Z2ZQWYohTFiOqjKSsbYY8B7JarLHHoZlmmaOO0AV-cOkmAM4i0yJoQQ-_HbpfLlNRA9UccR5hkQ6xWYN0jNPa2xTlix5XPZa_hUM39dZVaQ","token_type":"Bearer","refresh_token":"1//05h3rdozHv1LkCgYIARAAGAUSNwF-L9IrNGTExJotxk9FE-BkCphnhOKr7SGA-TGo4nXYD1Ojr2yIy9XgVLt2ZpipjAAMIRsvHFI","expiry":"2021-01-08T13:55:47.3806593-05:00"}
team_drive = 0AMPXHcJJJ6dPUk9PVA

